//======================================
// MAIN.SCSS
//======================================

// ==========================
// HELPERS, VARIABLES, MIXINS
// ==========================
@import "config/manifest.scss";
@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/uikit/scss/uikit-mixins.scss";
@import "mixins";

// =================
// BASE RULES
// =================





@import "base";
@import "../bower_components/uikit/scss/uikit.scss";
@import "../bower_components/uikit/scss/components/autocomplete.scss";

// =================
// LAYOUT RULES
// =================
@import "layout";

// =================
// NAVIGATION RULES
// =================
@import "navigation/manifest.scss";

// =================
// MODULE RULES
// =================
@import "vendor/manifest.scss";
@import "modules/manifest.scss";
@import "pages/manifest.scss";
@import "theme/manifest.scss";


.nav--primary ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}